@import url("https://use.typekit.net/ajn0gbi.css");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--color-primary: #ffdbbb;
	--color-secondary: #baddff;
	--color-tertiary: #bafff5;
	--color-quaternary: #496580;

	--font-gopher: "gopher";
}

@layer utilities {
	.padding-container {
		@apply px-4 sm:px-8 lg:px-10 xl:mx-auto xl:w-full xl:max-w-7xl;
	}
	.section-container {
		@apply py-5;
	}
	.section-separator {
		@apply border-quaternary border-b-2;
	}
}
