@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--color-primary: #ffdbbb;
	--color-secondary: #baddff;
	--color-tertiary: #bafff5;
	--color-quaternary: #496580;
}

@utility text-fluid {
	@apply text-[min(4vw,35px)];
}
