@import url("https://use.typekit.net/ajn0gbi.css");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--color-primary: #ffdbbb;
	--color-secondary: #baddff;
	--color-tertiary: #bafff5;
	--color-quaternary: #496580;

	--font-gopher: "gopher";
}

@utility text-fluid {
	@apply text-[min(4vw,35px)];
}
