@import url("https://use.typekit.net/ajn0gbi.css");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--color-primary: #f5f0eb;
	--color-secondary: #baddff;
	--color-tertiary: #bafff5;
	--color-quaternary: #1e3142;
	--color-danger: #d41e39;

	--font-gopher: "gopher";

	--spacing-header: 64px;
}

@layer utilities {
	.padding-container {
		@apply mx-auto max-w-7xl px-4;
	}
	.vertical-padding {
		@apply pt-4 pb-20;
	}
	.CTA {
		@apply bg-quaternary text-primary border-quaternary hover:bg-primary hover:text-quaternary flex h-10 w-full cursor-pointer items-center justify-center border px-12 tracking-wider uppercase transition-colors;
	}
}
